* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
.container {
  max-width: 1152px;
  margin: 0 auto;
  padding: 0 20px;
}
.hamburger{
  display: none;
}

@media (max-width: 1152px){
  .container{
    max-width: 960px;
    margin: 0 auto;
  }
}
@media (max-width: 968px){
  .container{
    max-width: 768px;
    margin: 0 auto;
  }
}

@media (max-width: 700px){
  .container{
    max-width: 86%;
  }
  .header-menu .menu{
    display: none;
  }
  .hamburger{
    display: block;
    position: absolute;
    right: 30px;
  }
}
/* header */
header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/src/images/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
  width: 100%;
}

.header-container {
  padding: 60px 0;
}
.title-box {
  width: 650px;
  height: 280px;
  border: 2px solid white;
  text-align: left;
}
.header-title {
  font-size: 4.5em;
  font-family: "josefin sans", sans-serif;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  line-height: 1;
  margin-top: 40px;
  margin-left: 45px;
}
.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 125px;
}
.menu {
  display: flex;
  font-size: 0.9375em;
  font-family: "alata", sans-serif;
}
.menu li a {
  color: #fff;
  padding: 8px 10px;
  margin-left: 10px;
}

@media (max-width: 700px){
  .title-box{
    margin: 0 auto;
    max-width: fit-content;
  }
  .header-title{
    font-size: 2.5em;
    margin-left: 10px;
  }
}

/* interactive section */
.interactive {
  padding-top: 158px;
}
.interactive img {
  max-width: 730px;
  max-height: 500px;
}
.interactive-text {
  position: absolute;
  top: 985px;
  right: 11%;
  max-width: 542px;
  height: 325px;
  padding: 97px 0 0 97px;
  background-color: #fff;
  text-align: left;
}
.interactive-text h2 {
  font-family: "josefin sans", sans-serif;
  font-size: 3em;
  font-weight: 300;
  text-transform: uppercase;
}
.interactive-text p {
  color: #8b8b8b;
  font-family: "alata", sans-serif;
  font-size: 0.9375em;
  margin-top: 40px;
  line-height: 1.5;
}
@media (max-width: 1152px){
  .interactive{
    padding: 80px 0 100px 0;
  }
  .interactive img{
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }
  .interactive-text{
    top: 1050px;
    height: auto;
  }
}
@media (max-width: 968px){
  .interactive{
    padding: 100px 0;
  }
  .interactive-text{
    position: static;
    text-align: center;
    padding: 30px 0 0 0;
    margin: 0 auto;
  }
  .interactive-text p{
    margin-top: 10px;
    text-align: left;
  }
}
/* section our creations */
.our-creations {
  margin-top: 185px;
}

.our-creations h3 {
  font-size: 3em;
  font-family: "josefin sans", sans-serif;
  text-transform: uppercase;
}
.our-creations a {
  font-size: 0.9375em;
  font-family: "alata", sans-serif;
  text-transform: uppercase;
  display: block;
  height: 42px;
  padding: 8px 46px;
  border: 2px solid hsl(0, 0%, 55%);
  letter-spacing: 0.29em;
  color: #000;
}

.our-creations-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 85px;
  flex-wrap: wrap;
}
.our-creations ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.our-creations-images {
  max-width: 100%;
  max-height: 451px;
}

.our-creations-images:not(.no-margin-left) {
  margin: 0 0px 29px 29px;
}
.subtitle {
  position: relative;
  color: #fff;
  text-transform: uppercase;
  font-size: 2.0625em;
  font-family: "josefin sans", sans-serif;
  font-weight: 300;
  max-width: 150px;
  top: -105px;
  text-align: left;
  margin-left: 40px;
  z-index: 2;
}
@media (max-width: 1152px){
  .our-creations-images{
    margin: 0 0px 29px 29px;
  }
}
@media (max-width: 960px){
  .our-creations{
    margin-top: 0;
  }
  .our-creations-images{
    margin: 10px;
  }
  .our-creations-images:not(.no-margin-left) {
    margin: 10px;
  }
  
}
@media (max-width:700px){
  .our-creations-header h3{
    margin: 0 auto;
  }
  .our-creations-header a{
    margin: 0 auto;
    position: relative;
    top: 1170px;
  }
  .our-creations ul{
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
    top: -110px;
  }
  .our-creations ul li{
    max-width: fit-content;
    max-height: 120px;
    margin: 10px auto;
    overflow: hidden;
  }
  .our-creations-images{
    width: 100%;
    height: auto;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  .our-creations-images img{
    width: max-content;
    max-height: auto;
  }
  .our-creations-images:not(.no-margin-left) {
    margin: 0;
  }
  .subtitle{
    top: -390px;
    left: -20px;
    max-width: 130px;
    font-size: 1.5em;
  }
}

/* footer */
footer {
  background-color: #000;
  margin-top: 150px;
}

.footer-container {
  color: #fff;
  padding-top: 45px;
}
.footer-images {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 30px;
}
.footer-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 0.9375em;
  font-family: "alata", sans-serif;
}
.social-icons {
  display: flex;
  align-items: baseline;
}
.social-icons li {
  margin-left: 15px;
  max-width: 24px;
  max-height: 24px;
}
.footer-menu {
  display: flex;
  margin-bottom: 10px;
}
.footer-menu li {
  margin-right: 30px;
}
.footer-info p {
  color: #8b8b8b;
}
@media (max-width: 968px){
  footer{
    margin-top: 80px;
  }
}
@media (max-width:700px){
  footer{
    margin-top: 100px;
  }
  .footer-images{
    padding-bottom: 10px;
    display: block;
    max-width: 100%;
  }
  .footer-logo{
    margin: 0 auto;
  }
  .footer-menu{
    flex-direction: column;
  }
}